{% extends 'base.html.twig' %}

{% block body %}
    <h1>Libprovince</h1>

    <table>
        <tbody>
            <tr>
                <th>Province</th>
                <td>{{ libProvince.province }}</td>
            </tr>
            <tr>
                <th>Provinceid</th>
                <td>{{ libProvince.provinceid }}</td>
            </tr>
            <tr>
                <th>Statecode</th>
                <td>{{ libProvince.statecode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('libprovince_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('libprovince_edit', { 'provinceid': libProvince.provinceid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
