{% extends 'base.html.twig' %}

{% block body %}
    <h1>Country</h1>

    <table>
        <tbody>
            <tr>
                <th>Country</th>
                <td>{{ country.country }}</td>
            </tr>
            <tr>
                <th>Countryid</th>
                <td>{{ country.countryid }}</td>
            </tr>
            <tr>
                <th>Countryiso2</th>
                <td>{{ country.countryiso2 }}</td>
            </tr>
            <tr>
                <th>Countryiso3</th>
                <td>{{ country.countryiso3 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('country_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('country_edit', { 'countryid': country.countryid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
